
.Imperio{
    background-color: red;
}

.Rebeldes{
    background-color: blue;
}

.Soldados{
    border: 2px dashed white;
    letter-spacing: 5px;
}

.Droides{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Naves{
    text-transform: uppercase;
}

.apoyo{
    text-align: center;
}

#DarthVader{
    font-size: 18px;
}

#Luke{
    font-style: italic;
}